@font-face {
    font-family: 'NimbusSanL-Bold';
    src: url('../fonts/NimbusSanL-Bol.otf') format('truetype');
}

@font-face {
    font-family: 'NimbusSanL-Bold-Italic';
    src: url('../fonts/NimbusSanL-BolIta.otf') format('truetype');
}

@font-face {
    font-family: 'NimbusSanL-Regular';
    src: url('../fonts/NimbusSanL-Reg.otf') format('truetype');
}

@font-face {
    font-family: 'NimbusSanL-Regular-Italic';
    src: url('../fonts/NimbusSanL-RegIta.otf') format('truetype');
}