$yellow: #F4E300;
$green: #83B53C;
$red: #D11220;

$nimbus-bold: 'NimbusSanL-Bold';
$nimbus-bold-i: 'NimbusSanL-Bold-Italic';
$nimbus-regular: 'NimbusSanL-Regular';
$nimbus-regular-i: 'NimbusSanL-Regular-Italic';
$roboto: 'Roboto', sans-serif;